#reports {
  padding-left: 15px;
  padding-right: 15px;

  .new-report-data {
    $addButtonWidth: 88px;
    display: flex;
    margin: 10px 0;

    .report-name {
      width: calc(100% - #{$addButtonWidth});

      input {
        max-width: 100%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .create-report {
      width: $addButtonWidth;

      button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  .refresh-list {
    margin-bottom: 10px;
    width: 100%;
  }

  .list-group-item {
    position: relative;

    .author-label {
      content: '';
      display: block;
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
      width: 10px;
    }

    .content {
      display: flex;
      justify-content: space-between;

      .name {
        max-width: calc(100% - 96px);
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .time {
        max-width: 96px;
        width: 96px;
      }
    }
  }

  #report-editor {
    .editor-header {
      margin: 10px 0;

      .manage-buttons {
        button {
          float: right;
          margin-left: 5px;
        }
      }
    }

    .report-body {
      width: 100%;
      height: 100%;

      textarea {
        width: 100%;
        height: 100%;
      }
    }
  }
}
