#statistic {
  .manage-bar {
    padding-top: 10px;
  }

  .datepicker-wrap {
    padding: 0;

    input {
      width: 100%;
      height: 100%;
    }
  }

  .tab-content > div {
    max-height: calc(100vh - 150px);
    height: calc(100vh - 150px);
    max-width: calc(100% - 50px);
    width: calc(100% - 50px);
  }
}
