@import "custom-scroll";
@import "reports-tab";
@import "gallery-tab";
@import "statistic";

html, body {
  margin: 0;
  padding: 0 !important;
  min-width: 100%;
  max-height: 100%;
  background-color: #f2f2f2;
  overflow-x: hidden;
  @include scrollbars(.4em, #777);
}

.text-content {
  max-width: 900px;
  margin: 0 auto;
  max-height: calc(100vh - 45px);
  overflow-y: scroll;
  font-size: 14px;
  text-align: justify;
  padding: 15px 30px;
  color: #6B6B6B;
  word-wrap: break-word;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.7;
  background-color: #fff;
  box-shadow: 0 9px 20px 2px rgba(0, 0, 0, 0.4);
}
